@use './variables';
@use './mixins';
@use './breakpoints';

body {
  font-family: var(--body-font);
  color: var(--color-black);
  display: grid;
  background: var(--color-dark-grey) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;

  .logo {
    color: var(--color-white-semi-transparent);
    margin: calc(var(--standard-padding) / 2);
    width: auto;
    display: inline-block;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--color-black);

    span {
      color: var(--color-teal-1);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--standard-padding) * 2);

  @include mixins.device(breakpoints.$tabLandscape) {
    margin-top: unset;
    flex-direction: row;
  }

  &__inner-center-center {
    
    &.error-notice {
      padding: var(--standard-padding);
      margin: var(--standard-padding);

      & > * {
        text-align: center;
      }

      @include mixins.device(breakpoints.$tabLandscape) {
        width: 400px;
        margin: 200px auto auto auto;
      }
    }
  }
}

#start {
  display: flex;
  flex-direction: column-reverse;

  @include mixins.device(breakpoints.$tabLandscape) {
    flex-direction: row;
  }
}

.explanation {
  margin: var(--standard-padding);
  filter: invert(1);
  mix-blend-mode: color-dodge;

  @include mixins.device(breakpoints.$tabLandscape) {
    margin-top: 40vh;
    max-width:400px;
  }

  h1,h2, h3 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 1em #ffffff;
  }

  a {
    color: var(--color-black);
  }
}

body.background-image__blend_difference .explanation { mix-blend-mode: difference; }
body.background-image__blend_hard-light .explanation { mix-blend-mode: hard-light; }
body.background-image__blend_luminosity .explanation { mix-blend-mode: luminosity; }
body.background-image__blend_color-dodge .explanation { mix-blend-mode: color-dodge; }
body.background-image__blend_lighten .explanation { mix-blend-mode: lighten; }
body.background-image__blend_normal .explanation { mix-blend-mode: normal; }

.app {
  display: flex;
  flex-direction: column;
  padding: var(--standard-padding);
  color: var(--color-black);
  margin: var(--standard-padding);

  @include mixins.device(breakpoints.$tabLandscape) {
    margin: unset;
    max-width: 600px;
    margin: 40vh 0 auto var(--standard-padding);
  }
}

.glass-background {
  border-radius: calc(var(--standard-padding) / 2);
  background-color: var(--color-light-grey);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background-color: var(--color-white-semi-transparent);
    backdrop-filter: saturate(180%) blur(10px);
  }

  @include mixins.device(breakpoints.$tabLandscape) {
    margin: unset;
    max-width: 600px;
    margin: 40vh 0 auto var(--standard-padding);
  }

  &__with-shadow {
    box-shadow: 0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2);
  }
}

.byline {
  position: absolute;
  bottom: var(--standard-padding);
  right: var(--standard-padding);
  padding: calc(var(--standard-padding) / 2) var(--standard-padding);
  text-align: right;
  background: var(--color-light-grey);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background-color: var(--color-white-semi-transparent);
    backdrop-filter: saturate(180%) blur(10px);
  }

  &__artist,
  &__art_name {
    text-align: right;
    color: var(--color-black);
    font-size: var(--font-size-smallprint);
    margin: 0;

    a {
      color: var(--color-black);
    }
  }
}

body.no-background-image .byline {
  display: none;
}
