{% extends 'base.html.twig' %}

{% set title = "Here's your secret" %}
{% set body_id = 'decrypt' %}

{% block head %}
  <meta name="robots" content="noindex">
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags('decrypt') }}
{% endblock %}

{% block body %}
  <div id="start">
    <div class="app glass-background glass-background__with-shadow">
      <h3>Someone sent you a one time secret! 👌</h3>
      <p>Below is the secret text they sent. Copy and paste it where you need to now. Once you close this page it is gone for good. Permanently.</p>
      <div class="mb-3">
        <textarea
          class="form-control"
          name="secret"
          rows="7"
          data-source="secret"
          disabled
          error-server-error="Something has gone wrong with the server. We're looking into this asap."
          error-unknown="An unknown error has occured. We're looking into this asap."
        ></textarea>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            data-action="copy-to-clipboard"
            data-copy-source="secret"
            data-success-message="Copied!"
          >
            Copy to your clipboard
          </button>
        </div>
      </div>
    </div>
    {% include 'sections/explanation.twig' %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('decrypt') }}
{% endblock %}
