@use './mixins';
@use './breakpoints';

body.success #start {
  display: none;
}

body.success #success {
  display: block;

  &.app {
    max-width: unset;
  }
}

#success {
  display: none;

  .card {
    padding: 1em;
    margin-bottom: 1em;
    background-color: white;
    border: 1px dashed black;
  }
}

body.success #start {
  display: none;
}

body.success #success {
  display: block;
}