:root {
  // fonts
  --heading-font: 'Roboto Slab', serif;
  --body-font: 'Roboto', sans-serif;

  // colours
  --color-black: #333;
  --color-red: #B84B23;
  --color-red-hover: #A3421F;

  // misc
  --animation-time: 300ms;
}
