{% extends 'email-base.html.twig' %}
{% set email_title = 'Welcome on board!' %}
{% block body %}
    <p>To complete your registration, please validate your email by clicking the button below</p>
    <a class="btn btn-primary" href="{{ validationUrl }}">Verify my email address</a>
{% endblock %}
