{% apply inline_css(source('@styles/emails.css')) %}
    <table class="email-container">
        <tr>
            <td>
                <h2>Welcome to</h2>
                <h1 class="logo">herehaveth.is!</h1>

                <p>To complete your registration, please validate your email by clicking the button below</p>
                <a class="btn btn-primary" href="{{ validationUrl }}">Verify my email address</a>
                
                <!-- TODO; add terms & conditions footer -->
            </td>
        </tr>
    </table>
{% endapply %}