{% extends 'email-base.html.twig' %}
{% set email_title = 'Password reset request' %}
{% block body %}
    <p>A request has been made to reset your password. If you made the request, click the button below to set a new password.</p>
    <a class="btn btn-primary" href="{{ signedUrl }}">Reset my password</a>
{% endblock %}
