<script>
var backgrounds = [
    {
        image_url: '/backgrounds/neom-QZGW6t70IsI-unsplash.jpg',
        author: 'NEOM',
        author_url: 'https://unsplash.com/@neom',
        title: 'Made to Change',
        title_url: 'https://unsplash.com/photos/a-person-swimming-in-the-ocean-with-a-lot-of-fish-QZGW6t70IsI?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash'
    },
    {
        image_url: '/backgrounds/hayato-togashi-ZYQBBuOdRo0-unsplash.jpg',
        author: 'Hayato Togashi',
        author_url: 'https://unsplash.com/@tottiy_tottiy_',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-group-of-people-standing-around-a-fountain-ZYQBBuOdRo0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash'
    },
    {
        image_url: '/backgrounds/hennie-stander-BtHtZsGvdD0-unsplash.jpg',
        author: 'Hennie Stander',
        author_url: 'https://unsplash.com/@henniestander',
        title_url: 'https://unsplash.com/photos/a-sunset-view-of-a-beach-with-a-mountain-in-the-background-BtHtZsGvdD0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'hard-light'
    },
    {
        image_url: '/backgrounds/george-dagerotip-qmU9jpj6mCc-unsplash.jpg',
        author: 'George Dagerotip',
        author_url: 'https://unsplash.com/@dagerotip',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-sunset-view-of-a-beach-with-a-mountain-in-the-background-BtHtZsGvdD0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'color-dodge'
    },
    {
        image_url: '/backgrounds/mos-design-jzFbbG2WXv0-unsplash.jpg',
        author: 'mos design',
        author_url: 'https://unsplash.com/@mosdesign',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-narrow-alley-way-with-neon-signs-hanging-from-the-ceiling-jzFbbG2WXv0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'normal'
    },
    {
        image_url: '/backgrounds/christian-lue-bEbaUin4Csg-unsplash.jpg',
        author: 'Christian Lue',
        author_url: 'https://unsplash.com/@christianlue',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-dark-street-with-buildings-and-a-street-light-bEbaUin4Csg?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'luminosity'
    },
    {
        image_url: '/backgrounds/lerone-pieters-VN8xM6hIYlk-unsplash.jpg',
        author: 'Lerone Pieters',
        author_url: 'https://unsplash.com/@leronep',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/grayscale-photo-of-man-walking-on-street-VN8xM6hIYlk?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'hard-light'
    },
    {
        image_url: '/backgrounds/natalia-churina-O4dimEMc31A-unsplash.jpg',
        author: 'Natalia Churina',
        author_url: 'https://unsplash.com/@nschrn',
        title_url: 'https://unsplash.com/photos/a-man-with-no-shirt-on-posing-for-a-picture-O4dimEMc31A?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash'
    },
    {
        image_url: '/backgrounds/daniel-alexander-_KHP8d4EbbE-unsplash.jpg',
        author: 'Daniel Alexander',
        author_url: 'https://unsplash.com/@danieljalexander',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-man-with-no-shirt-on-posing-for-a-picture-O4dimEMc31A?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'lighten'
    },
    {
        image_url: '/backgrounds/creativefred-aWK-NIyjsTo-unsplash.jpg',
        author: 'Creativefred',
        author_url: 'https://unsplash.com/@creativefred',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-close-up-of-a-baby-aWK-NIyjsTo?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash'
    },
    {
        image_url: '/backgrounds/tamara-shchypchynska-hLIi1IU5IU0-unsplash.jpg',
        author: 'Tamara Shchypchynska',
        author_url: 'https://unsplash.com/@toma_sh',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/an-underground-subway-station-with-escalators-and-stairs-hLIi1IU5IU0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'luminosity'
    },
    {
        image_url: '/backgrounds/max-griss-G0s4YyQYe7E-unsplash.jpg',
        author: 'Max Griss',
        author_url: 'https://unsplash.com/@grissphoto',
        title: 'Available for hire',
        title_url: 'https://unsplash.com/photos/a-close-up-of-blueberries-with-holes-in-them-G0s4YyQYe7E?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash',
        mix_blend_mode: 'difference'
    }
];
</script>