<div class="explanation">
    <h1>Share secrets,<br /> confidentially</h1>
    <h3>Sharing passwords and other sensitive information by email or chat message is A Really Bad Idea&trade;</h3>
    <h3>Use a one time secret link instead!</h3>
    {% if body_id == 'decrypt' %}
        <h3><a href="/" target="_blank">Create your own secret now</a></h3>
    {% endif %}
</div>