<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zero knowledge secret sharing. Send usernames and passwords to recipients safely, and securely.">
    <link rel="icon" type="image/png" href="/icon.png">

    <title>{{ title | default('') }} | Here, have this.</title>

    {% block head %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    {% include 'sections/backgrounds.html' %}
  </head>
  <body class="{{ body_id|default('') }} no-background-image">
    <header>
      <h1 class="logo">herehaveth<span>.</span>is</logo>
    </header>
    <div class="byline" data-byline>
      <h4 class="byline__artist">By <a href="" target="_blank" data-byline-artist></a></h4>
      <h5 class="byline__art_name">
        <a href="" target="_blank" data-byline-title></a>
      </h5>
    </div>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <div class="modal modal-dismissable">
      <div class="modal__inner">
        <button class="modal__dismiss" data-modal-action="close"><span class="material-symbols-outlined">close</span></button>
        <div class="modal__message">
          <h1 class="modal__message-title" data-modal-title>Uh-oh</h1>
          <div class="modal__message-text" data-modal-text></div>
        </div>
        <div class="modal__button-row">
          <button data-modal-action="close" class="btn">Close</button>
        </div>
      </div>
    </div>
    {% block javascripts %}{% endblock %}
  </body>
</html>
