<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title | default('') }} | Here, have this.</title>

    {% block stylesheets %}{% endblock %}
  </head>
  <body class="{{ body_id|default('') }}" style="background-image: url('/backgrounds/neom-QZGW6t70IsI-unsplash.jpg')">
    <div class="byline">
      <h4 class="byline__artist">By <a href="https://unsplash.com/@neom">NEOM</a></h4>
      <h5 class="byline__art_name">
        <a href="https://unsplash.com/photos/a-person-swimming-in-the-ocean-with-a-lot-of-fish-QZGW6t70IsI?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash">
          Made to Change
        </a>
      </h5>
    </div>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
    <div class="modal modal-dismissable">
      <div class="modal__inner">
        <button class="modal__dismiss" data-modal-action="close"><span class="material-symbols-outlined">close</span></button>
        <div class="modal__message">
          <h1 class="modal__message-title" data-modal-title>Uh-oh</h1>
          <div class="modal__message-text" data-modal-text></div>
        </div>
        <div class="modal__button-row">
          <button data-modal-action="close" class="btn">Close</button>
        </div>
      </div>
    </div>
  </body>
</html>
